<a href="https://colab.research.google.com/github/suuuu0930/Introduction-to-Computers/blob/main/0529(OJ).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input())
if a < 0:
  print("Input Error")
elif a % 2 == 0.:
  print(a , "is even")
else:
  print(a , "is odd")

2
2 is even

In [ ]:
m = int(input())
if m >= 1 and m <= 3:
  print(m ,"is spring")
elif m >= 4 and m <= 6:
  print(m ,"is summer")
elif m >= 7 and m <= 9:
  print(m ,"is autumn")
elif m >= 10 and m <= 12:
  print(m ,"is winter")
else:
  print("Input Error")

3
3 is spring

In [ ]:
k = int(input())
if k < 0:
  print("Input Error")
elif k >= 1 and k <= 5:
  print(240 , "yuan")
elif k >= 6:
  print(240 + (k - 5) * 40 , "yuan")
else:
  print(0 , "yuan")

-1
Input Error

In [ ]:
y = int(input())
if y == 0:
    print(float(100000))
elif y >= 0:
    print(float(100000 * (1 + 0.03)**y))
else:
    print("Input Error")

0
100000.0

In [ ]:
b , c , d = map(int, input().split())
min_num = min(b , c , d)
print(min_num)

33 38 90
33

In [ ]:
e , f , g = map(float, input().split())
max_num = max(e , f , g)
print(max_num)

-10.3 3.999 -20.8
3.999

In [ ]:
h = int(input())
for i in range(1 , h + 1):
  if h % i == 0:
    print(i , end = ' ')

17
1 17

In [ ]:
j = int(input())
k = 0
for i in range(1 , j + 1):
    if i % 3 == 0 or i % 7 == 0:
        k += i
print(k)

25
129

In [ ]:
n = int(input())
for i in range(1 , n + 1):
  print("*" * i)

2
*
**

In [ ]:
p = int(input())
for i in range(1 , p + 1):
  for r in range(1 , i + 1):
    print(r , end = (""))
  print()

4
1
12
123
1234

In [ ]:
q , s = map(int, input().split())
if q > s:
  e = q
else:
  e = s
for t in range(e , 0 , -1):
  if q % t == 0 and s % t == 0:
    print(t)
    break

20 60
20

In [ ]:
a , b = map(int, input().split())
if a > b:
  c = a
else:
  c = b
d = (a + 1) * (b + 1)
for e in range(c , d):
  if e % a == 0 and e % b == 0:
    print(e)
    break

4 8
8

In [ ]:
#13
number1 = ""
for i in range(97,123):
    number1+=str(i)+' '
print('%s' % number1)

97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122

In [ ]:
a , b , c = map(int, input().split())
if (a + b) > c and (a + c) > b and (b + c) > a:
  print("Valid")
else:
  print("Invalid")

7 9 5
Valid

In [ ]:
f = input().split()
for i in f[::-1]:
  print(i , end = " ")

one people emo , two people wemo
wemo people two , emo people one

In [ ]:
n = input()
h = len(n)
for i in range(1 , h + 1):
  print("*",end="")
print("\ntotal:",h)
#print("total:",h)
#結果錯誤(不確定是不是錯在total:後面有空格)

gigigvjvk
*********
total: 9

In [ ]:
password = input("請輸入密碼：")

# 將每個字符轉換為星號並逐行輸出
masked_password = "*" * len(password)
for char in masked_password:
    print(char , end = '')

print()

# 輸出密碼的長度
print("total:", len(password))

請輸入密碼：ajgfj
*****
total: 5

In [ ]:
s = int(input())
m , s = divmod(s , 60)
h , m = divmod(m , 60)
print("%02d:%02d:%02d" % (h , m , s))

234
00:03:54

In [ ]:
y = int(input())
text = 'common year'
if y % 4 == 0:
    text = 'leap year'
if y % 100 == 0:
    text = 'common year'
if y % 400 == 0:
    text = 'leap year'
print(f'{y} is {text}')

2000
2000 is leap year

In [ ]:
x = int(input())
for i in range(x , 10):
  for j in range(1 , 10):
    print("%d*%d=%d" % (i,j,i*j),end=" ")
  print()

5
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [ ]:
a = int(input())
total=0
if a > 15:
  for x in range(15 , a + 1):
    if(x % 2 == 0):
      total += x
  print(total)
else:
  for x in range(a , 16):
    if(x % 2 ==0):
      total += x
  print(total)

99
2394