<a href="https://colab.research.google.com/github/suuuu0930/Introduction-to-Computers/blob/main/0529(OJ).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input())
if a < 0:
  print("Input Error")
elif a % 2 == 0.:
  print(a , "is even")
else:
  print(a , "is odd")

2
2 is even

In [ ]:
m = int(input())
if m >= 1 and m <= 3:
  print(m ,"is spring")
elif m >= 4 and m <= 6:
  print(m ,"is summer")
elif m >= 7 and m <= 9:
  print(m ,"is autumn")
elif m >= 10 and m <= 12:
  print(m ,"is winter")
else:
  print("Input Error")

14
Input Error

In [ ]:
k = int(input())
if k < 0:
  print("Input Error")
elif k >= 1 and k <= 5:
  print(240 , "yuan")
elif k >= 6:
  print(240 + (k - 5) * 40 , "yuan")
else:
  print(0 , "yuan")

-1
Input Error

In [ ]:
y = int(input())
if y == 0:
    print(float(100000))
elif y >= 0:
    print(float(100000 * (1 + 0.03)**y))
else:
    print("Input Error")

0
100000.0

In [1]:
b , c , d = map(int, input().split())
min_num = min(b , c , d)
print(min_num)

33 38 90
33

In [4]:
e , f , g = map(float, input().split())
max_num = max(e , f , g)
print(max_num)

-10.3 3.999 -20.8
3.999

In [10]:
h = int(input())
for i in range(1 , h + 1):
  if h % i == 0:
    print(i , end = ' ')

17
1 17

In [46]:
j = int(input())
k = 0
for i in range(1 , j + 1):
    if i % 3 == 0 or i % 7 == 0:
        k += i
print(k)

25
129

In [53]:
n = int(input())
for i in range(1 , n + 1):
  print("*" * i)

2
*
**

In [122]:
p = int(input())
for i in range(1 , p + 1):
  for r in range(1 , i + 1):
    print(r , end = (""))
  print()

4
1
12
123
1234

In [136]:
q , s = map(int, input().split())
if q > s:
  e = q
else:
  e = s
for t in range(e , 0 , -1):
  if q % t == 0 and s % t == 0:
    print(t)
    break

20 60
20

In [140]:
a , b = map(int, input().split())
if a > b:
  c = a
else:
  c = b
d = (a + 1) * (b + 1)
for e in range(c , d):
  if e % a == 0 and e % b == 0:
    print(e)
    break

4 8
8

In [156]:
z = input()
if z() % 2 == 0
print(z%2 == 0 .upper()) + (z%2 != 0 .lower())

asdf

TypeError: ignored

In [163]:
a , b , c = map(int, input().split())
if (a + b) > c and (a + c) > b and (b + c) > a:
  print("Valid")
else:
  print("InValid") 
#部份給對

2 4 7
Valid

In [190]:
list = input().split()
list.reverse()
print(list , end = '\t')
#結果顯示方式與答案不符

1 2 3
['3', '2', '1']

In [221]:
n = input()
h = len(n)
print("*" * h)
print("total:" , h)
#結果錯誤(不確定是不是錯在total:後面有空格)

kjkjkfv
*******
total: 7